<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767130457964-v99t3lmgl8g0prr8r66r1054ucrhfcsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767130457964-v99t3lmgl8g0prr8r66r1054ucrhfcsq</string>
	<key>API_KEY</key>
	<string>AIzaSyAxPAb2izWD3ucujVdOmrZ5UVa72F32WsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>767130457964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adeel.flutterhami</string>
	<key>PROJECT_ID</key>
	<string>flutter-hami</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-hami.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767130457964:ios:83a171ab4310ed3e048549</string>
</dict>
</plist>